<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Page Title</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src='main.js'></script>
</head>
<body>
    <div class="container">
    <div class="card mt-2 mb-2">
        <div class="card-body ">
            <div class="card-img">
                <img src="https://i.ytimg.com/vi/anbd5eh6sPU/maxresdefault.jpg" alt="" width="300px" height="100px">
              </div>
            <h5>Resultado Cep</h5>

              <p><%= dado.logradouro %></p>
              <p><%= dado.localidade %></p>
              <p><%= dado.bairro %></p>
              <p><%= dado.uf %></p> 
        </div>
        <br><br>

        
    </div>
    <a href="/" class="btn btn-outline-dark">Procurar outro endereço</a>
</div>

  
</body>
</html>